interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://www.khanacademy.org/api/v1/videos/-1ZFVwMXSXY?lang=de
  response:
    body: {string: "{\"translated_youtube_id\": \"-1ZFVwMXSXY\", \"relative_url\"\
        : \"/video/case-study-ww2-encryption-machines\", \"license_logo_url\": \"\
        /images/license-logos/by-nc-sa.png\", \"has_questions\": false, \"creation_date\"\
        : \"2014-09-05T03:22:55Z\", \"download_urls\": {\"mp4\": \"http://fastly.kastatic.org/KA-youtube-converted/-1ZFVwMXSXY.mp4/-1ZFVwMXSXY.mp4\"\
        , \"png\": \"http://fastly.kastatic.org/KA-youtube-converted/-1ZFVwMXSXY.mp4/-1ZFVwMXSXY.png\"\
        , \"m3u8\": \"http://fastly.kastatic.org/KA-youtube-converted/-1ZFVwMXSXY.m3u8/-1ZFVwMXSXY.m3u8\"\
        }, \"ka_url\": \"http://www.khanacademy.org/video/case-study-ww2-encryption-machines\"\
        , \"duration\": 601, \"translated_title\": \"Die Enigma Verschl\xFCsselungsmaschine\"\
        , \"author_key\": null, \"translated_description_html\": \"WW2 Encryption\
        \ is explored with a focus on the Enigma. Read more <a data-cke-saved-href=\\\
        \"http://en.wikipedia.org/wiki/Enigma_machine\\\" href=\\\"http://en.wikipedia.org/wiki/Enigma_machine\\\
        \">here<\\/a>.\", \"id\": \"743582610\", \"concept_tags\": [], \"download_size\"\
        : 33254159.0, \"description_html\": \"WW2 Encryption is explored with a focus\
        \ on the Enigma. Read more <a data-cke-saved-href=\\\"http://en.wikipedia.org/wiki/Enigma_machine\\\
        \" href=\\\"http://en.wikipedia.org/wiki/Enigma_machine\\\">here<\\/a>.\"\
        , \"do_not_publish\": false, \"progress_key\": \"v743582610\", \"edit_slug\"\
        : \"edit/v/743582610\", \"author_names\": [\"Brit Cruise\"], \"license_full_name\"\
        : \"Creative Commons Attribution/Non-Commercial/Share-Alike\", \"license_url\"\
        : \"http://creativecommons.org/licenses/by-nc-sa/3.0\", \"deleted_mod_time\"\
        : \"2013-07-13T00:03:07Z\", \"thumbnail_data\": {\"url\": \"\", \"gcs_name\"\
        : \"/ka_thumbnails_cache/batch_original_upload/-1ZFVwMXSXY.jpg\", \"title_text\"\
        : \"\", \"skip_filter\": null}, \"related_exercise_url\": null, \"description\"\
        : \"WW2 Encryption is explored with a focus on the Enigma. Read more here.\"\
        , \"extra_properties\": {}, \"node_slug\": \"v/case-study-ww2-encryption-machines\"\
        , \"deleted\": false, \"license_name\": \"CC BY-NC-SA (KA default)\", \"backup_timestamp\"\
        : \"2013-09-23T10:33:41Z\", \"concept_tags_info\": [], \"date_added\": \"\
        2012-04-25T01:49:27Z\", \"translated_youtube_lang\": \"en\", \"kind\": \"\
        Video\", \"date_modified\": \"2015-12-02T15:09:30Z\", \"url\": \"http://www.youtube.com/watch?v=-1ZFVwMXSXY&feature=youtube_gdata_player\"\
        , \"clarifications_enabled\": true, \"ka_user_license\": \"cc-by-nc-sa\",\
        \ \"global_id\": \"v743582610\", \"sha\": \"239f9c96ec9bb3f45fb3fc08c619c3915efb06ac\"\
        , \"translated_description\": \"WW2 Encryption is explored with a focus on\
        \ the Enigma. Read more here.\", \"image_url\": \"https://img.youtube.com/vi/-1ZFVwMXSXY/hqdefault.jpg\"\
        , \"keywords\": \"engima, ww2, encryption machine, one-time-pad, german \"\
        , \"youtube_id\": \"-1ZFVwMXSXY\", \"title\": \"The Enigma encryption machine\"\
        , \"content_id\": \"743582610\", \"content_kind\": \"Video\", \"readable_id\"\
        : \"case-study-ww2-encryption-machines\"}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-KA-API-Response: ['true']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://www.khanacademy.org/api/v1/videos/-1w9RXhCmsE?lang=de
  response:
    body: {string: '{"translated_youtube_id": "-1w9RXhCmsE", "relative_url": "/video/lego-datawires",
        "license_logo_url": "/images/license-logos/by-nc-sa.png", "has_questions":
        false, "download_urls": {"mp4": "http://fastly.kastatic.org/KA-youtube-converted/-1w9RXhCmsE.mp4/-1w9RXhCmsE.mp4",
        "png": "http://fastly.kastatic.org/KA-youtube-converted/-1w9RXhCmsE.mp4/-1w9RXhCmsE.png",
        "m3u8": "http://fastly.kastatic.org/KA-youtube-converted/-1w9RXhCmsE.m3u8/-1w9RXhCmsE.m3u8"},
        "ka_url": "http://www.khanacademy.org/video/lego-datawires", "duration": 154,
        "translated_title": "Data wires", "translated_description_html": "data wires
        allow you to send values directly from input sensors to output devices", "id":
        "x91ac81ad", "concept_tags": [], "download_size": 3605195, "description_html":
        "data wires allow you to send values directly from input sensors to output
        devices", "title": "Data wires", "progress_key": "vx91ac81ad", "edit_slug":
        "edit/v/x91ac81ad", "author_names": ["Brit Cruise"], "license_full_name":
        "Creative Commons Attribution/Non-Commercial/Share-Alike", "license_url":
        "http://creativecommons.org/licenses/by-nc-sa/3.0", "deleted_mod_time": null,
        "thumbnail_data": {"url": "", "gcs_name": "/ka_thumbnails_cache/batch_original_upload/-1w9RXhCmsE.jpg",
        "title_text": "", "skip_filter": null}, "related_exercise_url": null, "description":
        "data wires allow you to send values directly from input sensors to output
        devices", "extra_properties": {}, "node_slug": "v/lego-datawires", "deleted":
        false, "license_name": "CC BY-NC-SA (KA default)", "backup_timestamp": "2013-11-07T18:59:16Z",
        "concept_tags_info": [], "date_added": "2013-11-07T18:59:16Z", "translated_youtube_lang":
        "en", "kind": "Video", "date_modified": "2015-12-01T22:33:17Z", "url": "http://www.youtube.com/watch?v=-1w9RXhCmsE&feature=youtube_gdata_player",
        "clarifications_enabled": true, "ka_user_license": "cc-by-nc-sa", "global_id":
        "vx91ac81ad", "sha": "617c47428c7069cb023ae9f01b524e102c318ebe", "translated_description":
        "data wires allow you to send values directly from input sensors to output
        devices", "image_url": "https://img.youtube.com/vi/-1w9RXhCmsE/hqdefault.jpg",
        "keywords": "", "youtube_id": "-1w9RXhCmsE", "content_kind": "Video", "readable_id":
        "lego-datawires"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-KA-API-Response: ['true']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://www.khanacademy.org/api/v1/videos/-1KeL9wVfOY?lang=de
  response:
    body: {string: '{"translated_youtube_id": "-1KeL9wVfOY", "relative_url": "/video/terpenes-to-steroid2",
        "license_logo_url": "/images/license-logos/by-nc-sa.png", "has_questions":
        false, "creation_date": "2014-08-07T01:31:28Z", "download_urls": {"mp4": "http://fastly.kastatic.org/KA-youtube-converted/-1KeL9wVfOY.mp4/-1KeL9wVfOY.mp4",
        "png": "http://fastly.kastatic.org/KA-youtube-converted/-1KeL9wVfOY.mp4/-1KeL9wVfOY.png",
        "m3u8": "http://fastly.kastatic.org/KA-youtube-converted/-1KeL9wVfOY.m3u8/-1KeL9wVfOY.m3u8"},
        "ka_url": "http://www.khanacademy.org/video/terpenes-to-steroid2", "duration":
        270, "translated_title": "From terpenes to steroids part 2: Squalene, cholesterol,
        and steroids", "author_key": "ag5zfmtoYW4tYWNhZGVteXIzCxIIVXNlckRhdGEiJXVzZXJfZW1haWxfa2V5X2FscGVydEBraGFuYWNhZGVteS5vcmcM",
        "translated_description_html": "", "id": "x936343b7", "concept_tags": [],
        "download_size": 13526256, "description_html": "", "do_not_publish": false,
        "progress_key": "vx936343b7", "edit_slug": "edit/v/x936343b7", "author_names":
        ["Ryan Scott Patton"], "license_full_name": "Creative Commons Attribution/Non-Commercial/Share-Alike",
        "license_url": "http://creativecommons.org/licenses/by-nc-sa/3.0", "deleted_mod_time":
        null, "thumbnail_data": {"url": "", "gcs_name": "/ka_thumbnails_cache/batch_original_upload/-1KeL9wVfOY.jpg",
        "title_text": "", "skip_filter": null}, "related_exercise_url": null, "description":
        "", "extra_properties": {"original_url": ""}, "node_slug": "v/terpenes-to-steroid2",
        "deleted": false, "license_name": "CC BY-NC-SA (KA default)", "backup_timestamp":
        null, "concept_tags_info": [], "date_added": "2014-07-01T21:54:26Z", "translated_youtube_lang":
        "en", "kind": "Video", "date_modified": "2015-12-02T00:14:41Z", "url": "http://www.youtube.com/watch?v=-1KeL9wVfOY&feature=youtube_gdata_player",
        "clarifications_enabled": true, "ka_user_license": "cc-by-nc-sa", "global_id":
        "vx936343b7", "sha": "647b3550b040b76fd92176f1b2d4e16cb6953c98", "translated_description":
        "", "image_url": "https://img.youtube.com/vi/-1KeL9wVfOY/hqdefault.jpg", "keywords":
        "terpene, steroid, squalene, cholesterol", "youtube_id": "-1KeL9wVfOY", "title":
        "From terpenes to steroids part 2: Squalene, cholesterol, and steroids", "content_id":
        "x936343b7", "content_kind": "Video", "readable_id": "terpenes-to-steroid2"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-KA-API-Response: ['true']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://www.khanacademy.org/api/v1/videos/--VYlmbkzNY?lang=de
  response:
    body: {string: '{"translated_youtube_id": "--VYlmbkzNY", "relative_url": "/video/piketty-spreadsheet-1",
        "license_logo_url": "/images/license-logos/by-nc-sa.png", "has_questions":
        false, "creation_date": "2014-08-07T01:36:00Z", "download_urls": {"mp4": "http://fastly.kastatic.org/KA-youtube-converted/--VYlmbkzNY.mp4/--VYlmbkzNY.mp4",
       [...]
- request:
    body: null
    headers:
    method: GET
    uri: http://www.khanacademy.org/api/v1/videos/--ezF4qkjxg?lang=de
  response:
    body: {string: "{\"translated_youtube_id\": \"--ezF4qkjxg\", \"relative_url\"\
        : \"/video/frequency-stability-1\", \"license_logo_url\": \"/images/license-logos/by-nc-sa.png\"\
        , \"has_questions\": false, \"download_urls\": {\"mp4\": \"http://fastly.kastatic.org/KA-youtube-converted/--ezF4qkjxg.mp4/--ezF4qkjxg.mp4\"\
        , \"png\": \"htt[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://www.khanacademy.org/api/v1/videos/-0zm323sehQ?lang=de
  response:
    body: {string: '{"translated_youtube_id": "-0zm323sehQ", "relative_url": "/video/cardiogenic-shock",
        "license_logo_url": "/images/license-logos/by-nc-sa.png", "has_questions":
        false, "creation_date": "2014-11-25T00:32:56Z", "download_urls": {"mp4": "http://fastly.kastatic.org/KA-youtube-converted/-0zm323sehQ.mp4/-0zm323sehQ.mp4",
        "pn[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://www.khanacademy.org/api/v1/videos/-3DFzxbP9Fk?lang=de
  response:
    body: {string: "{\"translated_youtube_id\": \"He3FiYcdo5I\", \"relative_url\"\
        : \"/video/addition-word-problems-within-10\", \"license_logo_url\": \"/images/license-logos/by-nc-sa.png\"\
        , \"has_questions\": false, \"creation_date\": \"2015-08-10T21:46:10Z\", \"\
        download_urls\": {\"mp4\": \"http://fastly.kastatic.org/KA-youtube-con[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://www.khanacademy.org/api/v1/videos/-05OfTp6ZEE?lang=de
  response:
    body: {string: "{\"translated_youtube_id\": \"-05OfTp6ZEE\", \"relative_url\"\
        : \"/video/deficit-and-debt-ceiling\", \"license_logo_url\": \"/images/license-logos/by-nc-sa.png\"\
        , \"has_questions\": false, \"download_urls\": {\"mp4\": \"http://fastly.kastatic.org/KA-youtube-converted/-05OfTp6ZEE.mp4/-05OfTp6ZEE.mp4\"\
        , \"png\": \"[...]
[...]
